<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'side'"
      [opened]="true">
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of menu" class="list-item" href="#">{{ item }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar" color="primary">
      <mat-nav-list class="list-horizontal">
        <a mat-list-item *ngFor="let item of menu" class="list-item" href="#">{{ item }}</a>
      </mat-nav-list>      
    </mat-toolbar>
    <!-- Add Content Here -->
    
  </mat-sidenav-content>
</mat-sidenav-container>
